body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:315px;
}
#u0 {
  position:absolute;
  left:0px;
  top:112px;
  width:1200px;
  height:314px;
}
#u1 {
  position:absolute;
  left:2px;
  top:142px;
  width:1196px;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:112px;
}
#u3 {
  position:absolute;
  left:2px;
  top:48px;
  width:1196px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:203px;
  top:446px;
  width:350px;
  height:170px;
}
#u5 {
  position:absolute;
  left:2px;
  top:70px;
  width:346px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:647px;
  top:446px;
  width:350px;
  height:170px;
}
#u7 {
  position:absolute;
  left:2px;
  top:70px;
  width:346px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:203px;
  top:643px;
  width:794px;
  height:68px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:790px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:203px;
  top:733px;
  width:794px;
  height:230px;
}
#u11 {
  position:absolute;
  left:2px;
  top:92px;
  width:790px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:783px;
  top:885px;
  width:140px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:203px;
  top:1456px;
  width:250px;
  height:170px;
}
#u15 {
  position:absolute;
  left:2px;
  top:70px;
  width:246px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:230px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:203px;
  top:1000px;
  width:794px;
  height:230px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:790px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:140px;
}
#u18 {
  position:absolute;
  left:352px;
  top:1054px;
  width:496px;
  height:140px;
}
#u19 {
  position:absolute;
  left:2px;
  top:62px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:203px;
  top:1256px;
  width:794px;
  height:170px;
}
#u21 {
  position:absolute;
  left:2px;
  top:78px;
  width:790px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:475px;
  top:1456px;
  width:250px;
  height:170px;
}
#u23 {
  position:absolute;
  left:2px;
  top:70px;
  width:246px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:747px;
  top:1456px;
  width:250px;
  height:170px;
}
#u25 {
  position:absolute;
  left:2px;
  top:78px;
  width:246px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:203px;
  top:1863px;
  width:250px;
  height:170px;
}
#u27 {
  position:absolute;
  left:2px;
  top:70px;
  width:246px;
  word-wrap:break-word;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:203px;
  top:1663px;
  width:794px;
  height:170px;
}
#u29 {
  position:absolute;
  left:2px;
  top:78px;
  width:790px;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:475px;
  top:1863px;
  width:250px;
  height:170px;
}
#u31 {
  position:absolute;
  left:2px;
  top:70px;
  width:246px;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:747px;
  top:1863px;
  width:250px;
  height:170px;
}
#u33 {
  position:absolute;
  left:2px;
  top:78px;
  width:246px;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  position:absolute;
  left:783px;
  top:1365px;
  width:140px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:783px;
  top:1777px;
  width:140px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:384px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:203px;
  top:2060px;
  width:794px;
  height:384px;
}
#u39 {
  position:absolute;
  left:2px;
  top:184px;
  width:790px;
  word-wrap:break-word;
}
